name = "compliance-ingest"
account_id = "2a49cc296188fe3b7e3c33e98f1d4cd2"
main = "src/index.ts"
compatibility_date = "2026-02-15"
workers_dev = true

[vars]
ENV_NAME = "dev"

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "compliance-docs-dev"

[[d1_databases]]
binding = "DB"
database_name = "compliance-dev"
database_id = "11f10559-222b-493c-bb74-a28b247cf273"

[[vectorize]]
binding = "VECTORIZE_INDEX"
index_name = "compliance-dev-index"

[env.staging.vars]
ENV_NAME = "staging"

[[env.staging.r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "compliance-docs-staging"

[[env.staging.d1_databases]]
binding = "DB"
database_name = "compliance-staging"
database_id = "0973e44e-1cad-4861-a552-3c07063b6537"

[[env.staging.vectorize]]
binding = "VECTORIZE_INDEX"
index_name = "compliance-staging-index"

[env.prod.vars]
ENV_NAME = "prod"

[[env.prod.r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "compliance-docs-prod"

[[env.prod.d1_databases]]
binding = "DB"
database_name = "compliance-prod"
database_id = "868eb001-dea3-4b7a-86ff-f5a797f8d7db"

[[env.prod.vectorize]]
binding = "VECTORIZE_INDEX"
index_name = "compliance-prod-index"
